<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <h1>WORKOUT GENERATOR</h1>

        <form method="get" action="generate">
            <fieldset>
                <legend>Your Workout Level:</legend>
            <input type="radio" id="Beginner" name="difficulty" value="beginner">
                <label for="Beginner">Beginner</label><br>
            <input type="radio" id="Intermediate" name="difficulty" value="intermediate">
                <label for="Intermediate">Intermediate</label><br>
            <input type="radio" id="Expert" name="difficulty" value="Expert">
                <label for="Expert">Advanced</label>
            </fieldset>

        <div class="centered">
        <label for="name">🏋️‍♂️:</label>
        <input type="text" id="name" placeholder="What can I do for you?">
        </div>
        </form>

    </body>
</html>