<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <h1>WORKOUT GENERATOR</h1>
        <form action="/generate" method="POST">
          <fieldset>
            <legend>Your Workout Level:</legend>
            <label>
              <input type="radio" name="difficulty" value="beginner" checked>
              Beginner
            </label><br>
            <label>
              <input type="radio" name="difficulty" value="intermediate">
              Intermediate
            </label><br>
            <label>
              <input type="radio" name="difficulty" value="expert">
              Advanced
            </label>
          </fieldset>


        <div class="centered">
          <label for="prompt">🏋️‍♂️:</label>
          <input type="text" id="prompt" name="prompt" placeholder="What can I do for you?">
          <p class="hint">
            Try to be as specific to get best results
            (eg. days you can't work out, equipment you have available, goals)
          </p>
        </div>

            <button type="submit">Generate Plan</button>
        </form>

    </body>
</html>